---
title: "Authors"
layout: default
permalink: "/authors/:author.html"
---

<div class="row listrecent">
    {% assign author = site.authors[page.author] %}
    <div class="section-title col-md-12 mt-4">
        <!-- Author Box -->
        <div class="row post-top-meta">
            <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                {% if author.avatar %}
                <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                {% else %}
                <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                <span class="author-description">{{ author.description }}</span>
            </div>
        </div>
    </div>
    {% for post in site.posts%}
        {% if post.author == page.author %}
            {% include postbox.html %}
        {% endif %}
    {% endfor %}
</div>